<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HeatClinic">
	<suite-files>
		<suite-file path="./resources/suites/Register.xml" />
		<suite-file path="./resources/suites/Login.xml" />
		<suite-file path="./resources/suites/AddToCart.xml" />
		<suite-file path="./resources/suites/RemoveFromCart.xml" />
	</suite-files>
</suite> 


